.projectContainer {
    height: auto;
    width: 100%;
    min-width: 760px;
    border: solid;
    display: flex;
    margin-bottom: 20px;
    border-color: #0D47A1;
}

.projectImg{
    height: 179px;
    width: 212px;
    margin-left: 8px;
    border: solid;
    border-color: #0D47A1;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  
}

.projectImg:hover {
    border-color: rgb(5, 241, 255);
}

.projectContentContainer {
    width: 100%;
    text-align: left;
}

.projectTitle {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 70px;
    color: rgb(5, 241, 255);
    display: flex;
    justify-content: center;
}

.projectDescription {
    padding: 8px;
    text-align: left;
    font-family: "NunitoRegular";
    font-size: 15px;
    line-height: 15px;
    max-width: 480px;
    margin-top: -20px;
    margin-left: 5px;
}

.projectIconContainer {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #0D47A1;
    height: auto;
    width: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.projectIconList {
    margin-bottom: 2px;
    
}

.projectIcon {
    width: 30px;
    height: auto;
    max-height: 20px;
    
}

.webIcon {
    height: 30px;
    width: auto;
    filter: invert(52%) sepia(100%) saturate(4187%) hue-rotate(198deg) brightness(91%) contrast(98%);
}

.webButton:hover {
    border-color: rgb(5, 241, 255);
}

.webButton:hover .webText {
    color: rgb(5, 241, 255);
  }

.webButton:hover .webIcon {
    filter: hue-rotate(15deg) saturate(300%) brightness(110%);
}


.webText {
    margin-left: 10px;
    margin-bottom: 7px;
    margin-top: 9px;
    margin-right: 10px;
}

.projectImgContainer {
    display: flex;
    align-items: center;
}



.webButton {
    border: solid;
    border-color: #0D47A1;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    background-color: inherit;
   
}

.codeButton {
    border: solid;
    border-color: #0D47A1;;
    bottom: 0px;
    margin-bottom: 0px; 
    padding: 8px;
    border-radius: 8px;
    display: flex;
    
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 5px;
}

.codeIcon {
    height: 30px;
    width: auto;
    filter: invert(52%) sepia(100%) saturate(4187%) hue-rotate(198deg) brightness(91%) contrast(98%);
}

.codeButton:hover .codeIcon {
    filter: hue-rotate(15deg) saturate(300%) brightness(110%);
  }
  

.codeText {
    margin-left: 10px;
    margin-bottom: 7px;
    margin-top: 9px;
    margin-right: 10px; 
}

a {
    text-decoration: none; 
    color: white; 
  }

  .codeButton:hover{
      border-color: rgb(5, 241, 255);

  }

  .codeButton:hover .codeText {
    color: rgb(5, 241, 255);
  }

  @media (max-width: 800px) {
    .projectContainer {
        display: block;
        height: auto;
        min-width: 0px;
        max-width: 310px;
        border-color: #0D47A1;
        margin: auto;
        margin-bottom: 40px;
    }

    .projectDescription {
        width: auto;
        max-width: 350px;
        text-align: left;
    }

    .projectTitle {
        margin-left:20px;
        width: 90%;
  
    }

    .projectImg {
        border: solid;
        border-color: #0D47A1;
        height: 165px;
        width: 305px;
        margin-left: 0px;
        margin-top: 0px;
   
      }

      .projectImgContainer {
        display: flex;
      }

    
      .projectIconContainer {
        flex-direction: row;
    }

    .projectIcon {
        margin-top: 5px;
        width: auto;
        height: auto;
    }


    .webButton{
        margin-bottom: 25px;
    }

  }

 