.formationContainer{
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.subTitle {
    margin-left: 0px;
    margin-top: 20px;
}

  @media (max-width: 1000px) {
    .subTitle {
      margin-left: 20px;
    }
    .formationContainer {
      display: block;
      padding-bottom: 30px;
    }
  }